* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b7d9fa;
  color: #222;
}

a {
  color: #4f46e5;
}

button {
  cursor: pointer;
}

.page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card{
  background-color: white;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
}

.card h1 {
  text-align: center;
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.btn{
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
}

.btn:hover{
  background-color: #4338ca;
}

.mensagem {
  mergin-top: 15px;
  text-align: center;
}

.texto-centro {
  text-align: center;
  margin-top: 20px;
}